<html>
    <head>
        <%- include("partials/header") -%> 
    </head>
    <body>
        <h1>Offline call: 0727302216</h1>
        <h1>Whatsapp: 0727302216</h1>
    </body>
    <%- include("partials/footer") -%> 
</html>