   <%- include("partials/header") -%> 
   <style>
      body {
         background-color: aqua;
      }
    .border1 h1{
 width: 70%;
 margin: auto;
 border-radius: 3px ;
 
}
   </style>
    <body>
      <div class="border1">
       <h1>EGERCOMM is an online interactive Egerton community. The website aims at bringing together product selling to clients,linking house owners to rentees and so much more.</h1> 
      </div>   
      <p><a href="/contact_us">Contact us</a></p>
   </body>
    <%- include("partials/footer") -%> 
